@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #360000;git 
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #003634;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
