@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e3e3e3;
  --foreground: #320000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #360000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-color: red;
}
